@{
    Layout = "_Layout";
}
@model IEnumerable<src.ViewModels.CashierIndexViewModel>

<h1>Cashiers</h1>


<h4>Items</h4>
<table class="table">
    <thead>
        <tr>
            <th>Cashier Id</th>
            <th>Cashier Name</th>
            <th>Branch Name</th>
            <th>City Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cashier in Model)
        {
            <tr data-item-id="@cashier.Id">
                <td>@cashier.Id</td>
				<td>@cashier.CashierName</td>
				<td>@cashier.BranchName</td>
				<td>@cashier.CityName</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = cashier.Id })">Edit</a>
                    <button type="button" class="btn btn-danger delete-cashier" data-item-id="@cashier.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<form action="@Url.Action("Create")" method="get">
    <button type="submit" class="btn btn-secondary" id="add-cashier">Add cashier</button>
</form>
