@model src.ViewModels.EditInvoiceViewModel


<h2>Edit An Invoice</h2>

<form asp-action="Edit" asp-route-id="@Model.InvoiceId" method="post">
    <div class="form-group">
        <label asp-for="CustomerName"></label>
        <input asp-for="CustomerName" class="form-control" />
        <span asp-validation-for="CustomerName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="InvoiceDate"></label>
        <input asp-for="InvoiceDate" class="form-control" />
        <span asp-validation-for="InvoiceDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CashierId">Cashier</label>
        <select asp-for="CashierId" class="form-control" id="cashier-select">
            @foreach (var cashier in Model.Cashiers)
            {
                if (cashier.Id == Model.CashierId)
                {
                    <option value="@cashier.Id" data-branch-id="@cashier.BranchId" selected>@cashier.CashierName</option>
                }
                else
                {
                    <option value="@cashier.Id" data-branch-id="@cashier.BranchId">@cashier.CashierName</option>
                }
            }
        </select>
        <span asp-validation-for="CashierId" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="BranchId" id="branch-id-hidden" />
    @for (int i = 0; i < Model.Cashiers.Count; i++)
    {
        <input type="hidden" name="Cashiers[@i].Id" value="@Model.Cashiers[i].Id" />
        <input type="hidden" name="Cashiers[@i].CashierName" value="@Model.Cashiers[i].CashierName" />
        <input type="hidden" name="Cashiers[@i].BranchId" value="@Model.Cashiers[i].BranchId" />
    }
    <input type="hidden" name="InvoiceId" value="@Model.InvoiceId" />

    <in
    <h4>Items</h4>
    <table id="items-table" class="table">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Item Count</th>
                <th>Item Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Items.Count; i++)
            {
                <tr>
                    <td>
                        <input asp-for="@Model.Items[i].ItemName" class="form-control" id="item-name-@i" />
                        <span asp-validation-for="@Model.Items[i].ItemName" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="@Model.Items[i].ItemCount" class="form-control" id="item-count-@i"/>
                        <span asp-validation-for="@Model.Items[i].ItemCount" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="@Model.Items[i].ItemPrice" class="form-control" id="item-price-@i"/>
                        <span asp-validation-for="@Model.Items[i].ItemPrice" class="text-danger"></span>
                    </td>
					<td>
                        <button type="button" class="btn btn-danger" id="delete-item" data-item-id="@Model.Items[i].ItemId">Delete</button>
                        <button type="button" class="btn btn-primary" id="edit-item" data-item-id="@Model.Items[i].ItemId">Edit</button>
                        <input type="hidden" name="count" value="@i" />
					</td>
                </tr>
            }
        </tbody>
    </table>
    <div id="add-item-container" class="form-group row">
        <div class="col">
            <input type="text" class="form-control item-name" placeholder="Item Name" />
        </div>
        <div class="col">
            <input type="number" class="form-control item-count" placeholder="Item Count" />
        </div>
        <div class="col">
            <input type="number" class="form-control item-price" placeholder="Item Price" />
        </div>
    </div>>
    <button type="button" class="btn btn-secondary" id="add-item">Add Item</button>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <script>
        document.getElementById('cashier-select').addEventListener('change', function () {
            let selectedOption = this.options[this.selectedIndex];
            let branchId = selectedOption.getAttribute('data-branch-id');
            document.getElementById('branch-id-hidden').value = branchId;
        });

        document.getElementById('delete-item').addEventListener('click', function () {
            let itemId = this.getAttribute('data-item-id');
            fetch('/InvoiceDetail/Delete/${itemId}', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					itemId: itemId
				})
                .then(response => response.json())
				.then(data => {
					let itemRow = document.querySelector(`tr[data-item-id="${itemId}"]`);
					itemRow.remove();
				})
			})
        });


        document.getElementById('add-item').addEventListener('click', function () {
			let itemContainer = document.getElementById('add-item-container');
			let itemName = itemContainer.getElementsByClassName('item-name')[0].value;
            let itemCount = itemContainer.getElementsByClassName('item-count')[0].value;
			let itemPrice = itemContainer.getElementsByClassName('item-price')[0].value;

            fetch('/InvoiceDetail/Create', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					itemName: itemName,
					itemCount: itemCount,
					itemPrice: itemPrice,
                    InvoiceHeaderId: @Model.InvoiceId
				})
			})

			.then(response => response.json())
			.then(data => {
                let itemsTableBody = document.getElementById('items-table').getElementsByTagName('tbody')[0];
                let rowCount = itemsTableBody.rows.length;

                let row = document.createElement('tr');
                row.setAttribute('data-item-id', data.ItemId);
                row.innerHTML = `
                                <td>
                                        <input class="form-control" name="Items[${rowCount}].ItemName" value="${itemName}" />
                                </td>
                                <td>
                                        <input class="form-control" name="Items[${rowCount}].ItemCount" value="${itemCount}" />
                                </td>
                                <td>
                                        <input class="form-control" name="Items[${rowCount}].ItemPrice" value="${itemPrice}" />
                                </td>
                                <td>
                                <button type="button" class="btn btn-danger delete-item" data-item-id="${data.ItemId}">Delete</button>
                                </td>
                            `;

                itemsTableBody.appendChild(row);
			})
		});

        document.getElementById('cashier-select').dispatchEvent(new Event('change'));


    </script>
}